.testimonials {

  .carousel {
    height: 250px;
    margin-top: 60px;
    margin-bottom: 10px;

    cursor: grab;

    .carousel-item {
      --size: 200;
      width: calc((400 + var(--size)) * 1px);

      background-color: var(--gray-light);
    }

    &__img, &__img.important {
      width: 50px;
      margin-top: -25px;
    }
    &__title {
      margin-top: 10px;
    }

    .indicator-item {
      background-color: lighten($color: $secondary-orange, $amount: 30%);

      &.active {
        background-color: var(--secondary-orange);
        
      }
    }
  }
}