@import "../../../node_modules/include-media/dist/include-media";

// config
@import "config/variables";
@import "config/reset"; 


// helpers
@import "helpers/utilities"; 
@import "helpers/generals"; 
// @import "helpers/mixins"; 
// @import "helpers/animations"; 

// components
@import "components/buttons"; 
@import "components/hero"; 
@import "components/about"; 
@import "components/testimonials"; 

// layout
@import "layout/header";
@import "layout/bg";
// @import "layout/footer";

// views