.footer {
  background-color: var(--blue-dark);

  .social {
    font-size: 1.5em;
    

    &__links i {
      cursor: pointer;
      transition: color .2s ease-in;

      &:hover {
        color: var(--primary-orange)!important;
      }

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}