.header {

  //TODO: RESET DE MATERILIZE
  nav {
    box-shadow: none;
    margin-top: 1em;

    @include media('>=laptop') {
      margin-top: 0;
      $size: 110px;
      height: $size;
      line-height: $size;
    }
  }

  .navbar {

    &__content {
      display: flex;
    }

    &__links {
      display: inline-block;
      margin: 0 auto;
      align-self: flex-start;
      // margin-left: -40vw;

      a {
        font-size: 0.875rem;
        transition: color .2s ease-in-out;

        &:hover {
          color: var(--primary-orange) !important;
          background-color: initial;
        }
      }
    }

    &__btn {
      position: absolute;
      right: 0;
    }
  }
}