// Generals =================
.g, .g.important {
  &-subtitle {

    @include media('>=tablet') {
      width: 67%;
    }

  }

  &-section {
    @include media('<tablet') {
      margin-top: 50px;
    }
  }

  &-desc {
    @include media('<tablet') {
      text-align: center;
    }
  }
}