.m,.m.important {
    // Clases de paddings y margins ================================================
    @for $i from 0 through 20 {

        @if round($i / 2)==$i / 2 {
            // Entero

            $var: ($i / 2) * 10;

            // Margin
            &-mall-#{$var} {
                margin: ($i / 2) * 10px;
            }
            &-mall--#{$var} {
                margin: ($i / 2) * -10px;
            }

            &-ml-#{$var} {
                margin-left: ($i / 2) * 10px;
            }
            &-ml--#{$var} {
                margin-left: ($i / 2) * -10px;
            }

            &-mr-#{$var} {
                margin-right: ($i / 2) * 10px;
            }
            &-mr--#{$var} {
                margin-right: ($i / 2) * -10px;
            }

            &-mt-#{$var} {
                margin-top: ($i / 2) * 10px;
            }
            &-mt--#{$var} {
                margin-top: ($i / 2) * -10px;
            }

            &-mb-#{$var} {
                margin-bottom: ($i / 2) * 10px;
            }
            &-mb--#{$var} {
                margin-bottom: ($i / 2) * -10px;
            }
            


            // Paddins
            &-pall-#{$var} {
                padding: ($i / 2) * 10px;
            }

            &-pl-#{$var} {
                padding-left: ($i / 2) * 10px;
            }

            &-pr-#{$var} {
                padding-right: ($i / 2) * 10px;
            }

            &-pt-#{$var} {
                padding-top: ($i / 2) * 10px;
            }

            &-pb-#{$var} {
                padding-bottom: ($i / 2) * 10px;
            }

        }

        @else {
            // Decimal

            $var: ($i / 2) * 10;



            // Margin
            &-mall-#{$var} {
                margin: ($i / 2) * 10px;
            }
            &-ma-ll-#{$var} {
                margin: ($i / 2) * -10px;
            }
            

            &-ml-#{$var} {
                margin-left: ($i / 2) * 10px;
            }
            &-ml--#{$var} {
                margin-left: ($i / 2) * -10px;
            }

            &-mr-#{$var} {
                margin-right: ($i / 2) * 10px;
            }
            &-mr--#{$var} {
                margin-right: ($i / 2) * -10px;
            }

            &-mt-#{$var} {
                margin-top: ($i / 2) * 10px;
            }
            &-mt--#{$var} {
                margin-top: ($i / 2) * -10px;
            }

            &-mb-#{$var} {
                margin-bottom: ($i / 2) * 10px;
            }
            &-mb--#{$var} {
                margin-bottom: ($i / 2) * -10px;
            }


            // Paddins
            &-pall-#{$var} {
                padding: ($i / 2) * 10px;
            }

            &-pl-#{$var} {
                padding-left: ($i / 2) * 10px;
            }

            &-pr-#{$var} {
                padding-right: ($i / 2) * 10px;
            }

            &-pt-#{$var} {
                padding-top: ($i / 2) * 10px;
            }

            &-pb-#{$var} {
                padding-bottom: ($i / 2) * 10px;
            }

        }
    }

    // Reset h1...h6
    &-h1 {
        font-size: 4.2rem;
    }
    &-h2 {
        font-size: 3.6rem;
    }
    &-h3 {
        font-size: 2.92rem;
    }
    &-h4 {
        font-size: 2.28rem;
    }
    &-h5 {
        font-size: 1.64rem;
    }
    &-h6 {
        font-size: 1.15rem;
    }
}