// Importar tipografia
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');
// Importar iconos
// @import url("https://file.myfontastic.com/CtJ7M0B6DyxJKbZveWPadP/icons.css");

/********************* RESET *********************/
body {
    font-family: 'Be Vietnam', sans-serif;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--primary-blue);
}
p, span, blockquote {
    color: var(--blue-light);
    font-size: 1.0625rem;
}
a, h1,h2,h3,h4,h5,h6 {
    font-weight: $fw-bold;
}
input, input.important {
    color: var(--blue-light);
    background-color: white;
    border-radius: 2rem;
    padding: 0 1em;
    font-size: .9em;
}